fastapi
uvicorn
pandas
numpy
scikit-learn
xgboost
sqlalchemy
psycopg2-binary
python-dotenv
streamlit
plotly
streamlit-extras
streamlit-aggrid
pydeck
requests
pydantic
httpx
pytest
supabase
openai
pypdf
python-multipart
